<header class="header">
  <div class="header-container">
    <nav class="nav nav-left">
      <a href="javascript:void(0)">ABOUT</a>
      <a href="javascript:void(0)">PRESS</a>
      <a href="javascript:void(0)">OUR STORY</a>
    </nav>

    <a href="/" class="logo">
      <span class="logo-title">ALMINA</span>
      <span class="logo-subtitle">CONCEPT</span>
    </a>

    <nav class="nav nav-right">
      <a href="javascript:void(0)">SHOP</a>
      <a href="javascript:void(0)">LOOKBOOK</a>
      <a href="/uski/contact">CONTACT</a>
    </nav>
  </div>
</header>
